.navbar-default {
  background-color: #348899;
  border-color: #f2ebc7;
}
.navbar-default .navbar-brand {
  color: #f2ebc7;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #343642;
}
.navbar-default .navbar-text {
  color: #f2ebc7;
}
.navbar-default .navbar-nav > li > a {
  color: #f2ebc7;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #343642;
  background-color: #f2ebc7; /* added by dana */
}
/* added by dana */
#unitmenu {
  color: #f2ebc7;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #343642;
  background-color: #f2ebc7;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #343642;
  background-color: #f2ebc7;
}
.navbar-default .navbar-toggle {
  border-color: #f2ebc7;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #f2ebc7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f2ebc7;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f2ebc7;
}
.navbar-default .navbar-link {
  color: #f2ebc7;
}
.navbar-default .navbar-link:hover {
  color: #343642;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f2ebc7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #343642;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #343642;
    background-color: #f2ebc7;
  }
}